footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 71px;
    background: rgb(238, 171, 47);
    padding: 2;
}

.footer{
    display: flex;
    flex-direction: row;
}

#banner {
    width: 90px;
    right: 90px;
  }

  #fritas{
    width: 110px;
    right: 110px;
  }

  .logo{
    cursor: pointer;
   }


#element::-webkit-scrollbar {
    display: none;
}