* {
    margin: 0;
    padding:0;
  }
  
  #fundo {
    background: rgb(238, 171, 47);
    padding:0px;
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .logo{
    cursor: pointer;
   }
  
  .nomeLoja {
    color: whitesmoke;
    text-align: left;
    display: inline-block;
    position: relative;
    margin: 60px;
    border-color: whitesmoke;
    text-shadow: 3px 0 black, -3px 0 black, 0 3px black, 0 -3px black,
    2px 2px black, -2px -2px black, 2px -2px black, -2px 2px black;
    font-family:sans-serif;
  }
  
  .ketchup {
    color: rgb(199, 14, 14);
    text-align: right;
    display: inline-block;
    position: relative;
    margin: 40px;
    text-shadow: 3px 0 whitesmoke, -3px 0 whitesmoke, 0 3px whitesmoke, 0 -3px whitesmoke,
  2px 2px whitesmoke, -2px -2px whitesmoke, 2px -2px whitesmoke, -2px 2px whitesmoke;
    border: none;
    font-family:fantasy;
    font-size:24px;
    text-decoration: none;
  }

  .mostarda{
      color: rgb(207, 207, 24);
      text-align: right;
      display: inline-block;
      position: relative;
      margin: 40px;
      text-shadow: 3px 0 whitesmoke, -3px 0 whitesmoke, 0 3px whitesmoke, 0 -3px whitesmoke,
    2px 2px whitesmoke, -2px -2px whitesmoke, 2px -2px whitesmoke, -2px 2px whitesmoke;
      border: none;
      font-family:fantasy;
      font-size:24px;
      text-decoration: none;
  }
  
  .dropdown {
    position: static;
    display: inline-block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  
  .dropbtn {
    background: transparent;
    color: whitesmoke;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin: 1px;
    border: none;
  }
  
  .dropdown-content {
    display: none;
    border-style: outset;
    border-color:black;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    border-style: outset;
  }
  
  .dropdown-content a:hover {
    background-color:rgb(252, 173, 77);
    color:black;
  }
  
  .Link {
    text-align: center;
  }

  #element::-webkit-scrollbar {
    display: none;
}