.TitlePagina {
    color: black;
    text-align: center;
    margin: 20px;
    border: none;
    font-size: 35px;
  }

  .Dados{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    margin-right:39rem;
    margin-left: 39rem;
  }

  .linhaDivisora{
    font-size: 24px;
  }

  .Icons{
    margin: 1px;
    cursor: pointer;
  }